@charset "EUC-KR";

table {
	width: 60%;
	border-collapse: collapse;
	border-top: 2px solid #6a6a6a;
	border-bottom: 2px solid #6a6a6a;
	text-align: left;
	line-height: 1.5;
	margin-top: 100px;
}

th {
	width: 150px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #868686;
	background: #dfe1e6;
	text-align: center;
	padding: 20px 30px;
	font-size: 17px;
}

td {
	width: 350px;
	padding: 20px;
	vertical-align: top;
	border-bottom: 1px solid #868686;
	font-size: 17px;
}

input[type=text] {
	width: 950px;
	height: 40px;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 16px;
}

textarea {
	width: 950px;
	height: 180px;
	resize: none;
	margin-left: 10px;
	padding-top : 10px;
	padding-left: 10px;
	font-size: 15px;
	padding-top: 10px;
}

#id {
	padding: 20px 25px;
}

#writebtn {
	width: 115px;
	height: 42px;
	cursor: pointer;
	border-radius: 35px;
	background-color: #ffffff;
	color: #646464;
	border: 1px solid #b9b9b9;
	outline: 0;
	font: 15px KoPubWorld돋움체 Medium;
	font-size: 16px; 
	position: absolute;
	margin-top: 30px;
	left: 73%;
}

#writebtn:hover {
	background-color: #848484;
	color: #ffffff;
}

#cancelbtn {
	width: 115px;
	height: 42px;
	cursor: pointer;
	border-radius: 35px;
	background-color: #ffffff;
	color: #646464;
	border: 1px solid #b9b9b9;
	outline: 0;
	font: 15px KoPubWorld돋움체 Medium;
	font-size: 16px; 
	position: absolute;
	margin-top: 30px;
	left: 66.8%;
}

#cancelbtn:hover {
	background-color: #848484;
	color: #ffffff;
}