@charset "EUC-KR";

.radiobtn {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  margin: 5px; 
  display: inline-block;
  width: 85%;
  height: 55px;
  border: 2px solid #f6f6f6;
}

.box-radio-input input[type="radio"]{
  display:none;
}

.box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;
  padding-top: 1px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center;
  height: 40px;
  width: 75px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
  border-radius:5px;
  color: #727272;
}

.box-radio-input input[type="radio"]:checked + span{
  border:1px solid #2699d3;
  background:#2699d3;
  color:#fff;
}
 